body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(250, 241, 229);
}

header {
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    height: auto;
    background-color: brown;
    color: #fff;
    border: 0px;
}
header > h1 {
    margin: 0;
}
header > img {
    height: auto;
    width: auto;
}

nav {
    background-color: rgb(247, 144, 96);
    display: flex;
}

nav > ul {
    display: flex;
    gap: 3rem;
}

nav > ul > li {
    list-style: none;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    font-size: x-large;
    height: auto;
    background-color: brown;
    color: #fff;
    border: 0px;
}

.titleInList {
    display: flex;
    flex-direction: column;
    width: 20vw;
    background-color: #643964d0;
    padding: 10px;
    margin:20px;
    border-radius: 15px;
}

.titleInList > p > a {
    color: white;
}