{% extends "base.jinja" %}

{% block content %}

<h2> About Us </h2>

<p>
The Alextown Public Library opened its doors in April of 2023. 
</p>
<p>
We're a library. We have so many books. More than five! Come and see our collection, maybe check a book out. 
</p>
<p>
You can also add or remove a book to our collection, or at least, you <i>will</i> be able to remove one, once our tech team figures that out.
</p>
<p>
All totally normal stuff for a library!
</p>

<h3>Update (23/04/23)</h3>
<p>
Our wonderful tech team has successfully added the feature to remove a book, which they describe as "not exactly what we were going for". Some people are just <i>never</i> satisfied!
</p>
<p>
Now onto our next great challenge - getting any images to display!
</p>
<p>
    <a href="/our-books"> Return to list</a>
</p>

{% endblock%}