{% extends "base.jinja"%}


{% block content %}

<h2> More About This Book! </h2>

<p>
    Title: <b>{{ book.title }}</b></p>
<p>
    Author: <b>{{ book.author }}</b></p>
<p>
    Genre: <b>{{ book.genre }}</b></p>

{% if book.checked_out %}
    <span>
        <i> Checked Out! </i>&#9989;
    </span>
{% endif %}


<p>
        <a href="/our-books"> Return to list</a>
</p>


{% endblock%}