{% extends "base.jinja"%}


{% block content %}

<h2> More About This Book! </h2>

<p>
    Title: <b>{{ book.title }}</b></p>
<p>
    Author: <b>{{ book.author }}</b></p>
<p>
    Genre: <b>{{ book.genre }}</b></p>

{% if book.checked_out %}
    <p><i> Checked Out! </i></p>
    {# <h3>&#9989;</h3> #}
{% endif %}

<p>
    <form class="form-inline" action="/our-books/<path:book_title>/remove" method="POST">
        <input type="submit" value="Remove Book">
    </form>
    <b> WARNING:</b> This will not actually delete the book from our list.
</p>
<p>
        <a href="/our-books"> Return to list</a>
</p>


{% endblock%}