{% extends "base.jinja" %}

{% block content %}

<h2> Contact Us </h2>

<p>
Meet me by the bins outside your flat in exactly 23 minutes. 
</p>
<p>
    <b>Come alone.</b>
</p>


<p>
    <a href="/our-books"> Return to list</a>
</p>

{% endblock%}